/** General page styling **/
  
html {
	background-color: #e9e9e9;
	background-size: 100%;
}

body {
	background-size: 100%;
	font-family:times;
	text-align: center;
}

h1 {
	text-align: center;
	font-family: Broadway BT;
	font-size: 50px;
	font-weight: bold;
	margin: 30px 0 3px 0;
}


p {
	text-align: center;
	font-family:times;
	line-height: 25px;
	font-size: 20px;
	color: #777;
	margin: 0;
}

#editor { 
    width: 90%;
    margin-left: 5%;
    height: 440px;
    margin-top: 40px;
}

#convert-btn {
	margin-left: 10%;
	height: 100%;
	display: table;
	float: left;
}

#btn-span {
	display: table-cell;
	vertical-align:middle;
}

#btn {
	cursor: pointer;
}

#coffee-editor {
	width: 42%;
	height: 100%;
	float: left;
}

#js-editor {
	width: 42%;
	height: 100%;
	float: right;
}

#coffee-text {
	width: 100%;
	height: 90%;
	font-size: 16px;
	margin: 0 auto;
	border: 2px solid #666;
	padding: 12px;
	font-family: consolas, monospace;
	overflow: auto;
	display: block;
	background: #333;
	color: #ccc;
	resize: none;
}

#coffee-BS-text {
	display: none;
}

#js-text {
	width: 100%;
	height: 90%;
	font-size: 16px;
	margin: 0 auto;
	border: 2px solid #666;
	padding: 12px;
	font-family: consolas, monospace;
	overflow: auto;
	display: block;
	background: #333;
	color: #ccc;
	resize: none;
}

#console {
	width: 50%;
	margin-left: 25%;
	margin-top: 10px;
	margin-bottom: 50px;
}

.optionbtn {
	width: 120px;
	height: 40px;
	font-family: arial;
	font-size: 15px;
}

/* ============================================================================================================================
== TWITTER
** ============================================================================================================================ */

.example-twitter {
  position:relative;
  padding:40px;
  margin:25px 0 0.5em;
  color:#333;
  background:#FFFF93;
  /* css3 */
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

.example-twitter p {font-size:28px; font-family: consolas, monospace; font-weight: bold; line-height:1.25em;}

/* this isn't necessary, just saves me having to edit the HTML of the demo */
.example-twitter:before {
  /*content:url(../img/coffee.png);*/
  position:absolute;
  top:-60px;
  left:0;
  width:155px;
  height:36px;
  /* reduce the damage in FF3.0 */
  display:block;
}

/* creates the triangle */
.example-twitter:after {
  content:"";
  position:absolute;
  top:-30px;
  left:50px;
  border:15px solid transparent;
  border-bottom-color:#FFFF93;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

/* display of quote author (alternatively use a class on the element following the blockquote) */
.example-twitter + p {padding-left:15px; font:14px Arial, sans-serif;}